1. ex04_리스트, 튜플

- 자료구조(Data Structure)
- 여러가지 자료를 하나로 묶어서 관리하기 위함

- 리스트(List)
- 자료형 구분 없이 하나로 묶을 수 있다.
- 인덱스 번호가 존재한다(0, 1, 2, ...)
- 대괄호를 통해서 사용, 생성 가능
- 추가, 수정, 삭제 가능

In [2]:
list1 = [1, 2, 3, 4, 5]
list1

[1, 2, 3, 4, 5]

In [3]:
print(type(list1))

<class 'list'>

In [9]:
list2=['요나', 20, True, 5.1, [1,2,3]]
list2

['요나', 20, True, 5.1, [1, 2, 3]]

In [11]:
# '요나'를 가져오고 싶다!
list2[0]

'요나'

In [12]:
# 두 번째에 있는 숫자를 출력해주세요!
list2[1]

20

In [13]:
list2[-1]

[1, 2, 3]

In [14]:
#2를 출력해주세요. (2차원 리스트)
list2[4][1]

2

In [17]:
list3=[3,5,7,1,6,43]

#list3의 첫번쨰 값과 두번째 값을 더해서 출력
#list3의 세번째 값과 네번쨰 값을 더해서 출력
#list3의 맨마지막 값에서 맨 첫번째 값을 뺀 후 출력

print(list3[0]+list3[1])
print(list3[2]+list3[3])
print(list3[-1]-list3[0])

8
8
40

In [22]:
list4 = ['콜라', '아아', '우유', '아침햇살', '솔의눈']

print(list4[0:3])

['콜라', '아아', '우유']

In [37]:
list5 = ['사과', '포도', ['수박', '멜론'], '복숭아', '딸기', '오렌지']

#인덱싱!
fruit1 = list5[0]#사과
fruit2 = list5[2][0] #수박
fruit3 = list5[-1] #오렌지

choice_list = []
choice_list.append(fruit1)
choice_list.append(fruit2)
choice_list.append(fruit3)
#리스트명.append(추가할 요소)

#append 활용해 사과, 수박, 오렌지 담아주세요!

print(choice_list) #사과, 수박, 오렌지

#choice_list에서 사과와 수박만 출력해주세요!
print(choice_list[0:2])

['사과', '수박', '오렌지']
['사과', '수박']

In [ ]:
#인덱스

llist6 = [1,2,5,6,7]
list6.insert(2,3) #2번 인덱스에 3이라는 값을 넣겠다.

In [38]:
# 리스트 요소 값 수정

list7 = [0, 1, 2, 3, 4]
list7[2] = 20
list7

[0, 1, 20, 3, 4]

In [40]:
list7[1:3] = [3, 40]
list7

[0, 3, 40, 3, 4]

In [43]:
list7[1:3] = [100]
list7

[0, 100, 3, 4]

In [ ]:
list7[1:3] = 100
list7
#자료 타입이 맞지 않음

In [52]:
list8 = [1, 2, 3, 4, 5]
# 1. 숫자 5를 7로 바꾸세요
list8[-1] = 7

# 2. 숫자 2를 리스트['a', 'b', 'c']로 바꾸세요
list8[1] = ['a', 'b', 'c']

# 3. 숫자 4, 7을 'd', 'e', 'f', 'g' 로 바꾸세요
list8[-2:-1] = ['d', 'e', 'f', 'g']

# 4. 숫자 1을 'h', 'i', 'j' 로 바꾸세요
list8[0] = 'h', 'i', 'j' #튜플형

print(list8)

[('h', 'i', 'j'), ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g', 7]

In [57]:
list9 = [1, 2, 3, 4, 5]
list9

#1. del 삭제할 요소
del list9[2]
list9

#2. 리스트명.remove(삭제할 값)
list9.remove(4)
list9

[1, 2, 5]

In [59]:
list10 = [1,1,1,2,2,3]
list10.remove(1)
list10

#요소의 개수를 알려주는 함수
list10.count(1)

2