#1. selenium 라이브러리를 활용해서 네이버 부동산 페이지 열기  
#2. 사건번호 ~ 매각기일  총 7개 데이터 수집  
#3. 변수명 :nums, types, adds, price_1(감정가), price2(최저입찰가), status , dates  
#4. 순수한 정보들을 담아주는 7개의 list 생성  
#5. 리스트명: num_list, type_list, add_list, price1_list, price2_list, status_list, date_list  
#6. 리스트에 데이터 삽입  
#7. 7개의 리스트를 활용하여 데이터프레임 생성!  
#### 1번째 페이지의 데이터만 수집

In [1]:
# 사건번호 물건종류 소재지 감정기 최저입찰가 물건상태 매각기일
from selenium import webdriver as wb  #통제
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup as bs
import time
import os  

from urllib.request import urlretrieve

In [3]:
driver = wb.Chrome()
driver.get('https://auction1.land.naver.com/auction/ca_list.php')
driver.maximize_window()

In [4]:
soup=bs(driver.page_source, 'lxml')

In [94]:
# 번호


nums = soup.select('tr>td.num')
num_list=[]

for i in range(len(nums)):
    num_list.append(nums[i].text)
    
print(num_list)

['20-108919', '20-111953(1)', '20-111953(2)', '21-1705', '21-2999', '21-100851(3)', '21-100851(4)', '21-100851(5)', '21-100851(9)', '21-100851(11)', '21-101278', '21-103935', '21-104853', '21-106354(5)', '21-107708', '21-108473', '21-110650(1)', '21-110650(2)', '21-110650(3)', '21-110650(4)', '21-111752(1)', '21-111752(2)', '21-111752(3)', '21-111752(4)', '21-111752(5)', '21-111752(7)', '21-111752(9)', '21-111943', '21-112137', '21-112700']

In [68]:
# 물건종류

type_list=[]

for i in range(30):
    types = soup.select('tbody#tb>tr')[i]
    types = types.select('td')[2]
    
    type_list.append(types.text)
    
print(type_list)

['다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '근린상가', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '근린상가', '다세대(빌라)', '다세대(빌라)', '아파트', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '오피스텔', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '오피스텔', '다세대(빌라)']

In [106]:
# 소재지


adds = soup.select('.area>a')
add_list=[]

for i in range(len(adds)):
    add_list.append(adds[i].text)
    
print(add_list)

['서울특별시 강서구 화곡동 61-49, 영광빌리지 4층 402호', '서울특별시 구로구 구로동 88-17 외2필지, 비체빌 5층 503호', '서울특별시 구로구 구로동 88-17 외2필지, 비체빌 5층 504호', '서울특별시 관악구 신림동 646-317 외2필지, 대림아트빌 2층 201호', '서울특별시 중구 을지로6가 21-31 외3필지, 동대문패션티브이 1층 1091호', '서울특별시 강서구 화곡동 46-295 외1필지, 동양하우징 4층 403호', '서울특별시 강서구 외발산동 216-37, 가온빌 3층 301호', '서울특별시 양천구 신월동 230-13 외1필지, 퀸즈팰리스 5층 503호', '서울특별시 강서구 화곡동 46-17, 신성주택 4층 403호', '서울특별시 강서구 화곡동 29-19, 대림라온제나 4층 401호', '서울특별시 관악구 신림동 685-71 외1필지, 서래하우스 5층 501호', '서울특별시 구로구 오류동 18-13 외2필지, 힐하우스 2층 202호', '서울특별시 강서구 등촌동 365-59, 세명클래스 6층 602호', '서울특별시 금천구 시흥동 837-14, 드웰하우스 2층 204호', '서울특별시 구로구 개봉동 337-25, 마이빌5차 5층 501호', '서울특별시 금천구 시흥동 830-11 외1필지, 에이엔캐슬 2층 201호', '서울특별시 강서구 화곡동 343-49 외1필지, 혜성오피아파트 9층 904호', '서울특별시 구로구 고척동 171-7 외4필지, 소담밸리 7층 701호', '서울특별시 강서구 등촌동 574-3, 평화아트빌 비동 3층 303호', '서울특별시 강서구 등촌동 574-3, 평화아트빌 비동 2층 203호', '서울특별시 양천구 신월동 87-7 외1필지, 에스케이바움빌 4층 402호', '서울특별시 양천구 신월동 75-1 외1필지, 에스케이바움하임빌 2층 204호', '서울특별시 양천구 신월동 86-4 외1필지, 에스케이이팰리스 8층 801호', '서울특별시 양천구 신월동 75-1 외1필지, 에스케이바움하임빌 2층 201호', '서울특별시 양천구 신월동 88-25 외2필지, 에스케이이빌리지 5층 504호', '서울특별시 양천구 신월동 148-14 외1필지, 신월리버스타운 103동 2층 201호', '서울특별시 양천구 신월동 122-7, 제이와이팰리스 6층 602호', '서울특별시 강서구 등촌동 574-3, 평화아트빌 에이동 4층 401호', '서울특별시 금천구 독산동 1009-75, 에이엔캐슬 에이동 2층 204호', '서울특별시 강서구 화곡동 869-7, 도티하우스 5층 502호']

In [107]:
len(add_list)

30

In [48]:
soup.select('.area>a')

[<a name="name_addr" onclick="checkView_params(document.fmPdList,2181440);" style="cursor:pointer;">서울특별시 강서구 화곡동 61-49, 영광빌리지 4층 402호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2196828);" style="cursor:pointer;">서울특별시 구로구 구로동 88-17 외2필지, 비체빌 5층 503호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2260575);" style="cursor:pointer;">서울특별시 구로구 구로동 88-17 외2필지, 비체빌 5층 504호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2238997);" style="cursor:pointer;">서울특별시 관악구 신림동 646-317 외2필지, 대림아트빌 2층 201호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2252336);" style="cursor:pointer;">서울특별시 중구 을지로6가 21-31 외3필지, 동대문패션티브이 1층 1091호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2292815);" style="cursor:pointer;">서울특별시 강서구 화곡동 46-295 외1필지, 동양하우징 4층 403호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2292816);" style="cursor:pointer;">서울특별시 강서구 외발산동 216-37, 가온빌 3층 301호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2292817);" style="cursor:pointer;">서울특별시 양천구 신월동 230-13 외1필지, 퀸즈팰리스 5층 503호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2292821);" style="cursor:pointer;">서울특별시 강서구 화곡동 46-17, 신성주택 4층 403호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2292823);" style="cursor:pointer;">서울특별시 강서구 화곡동 29-19, 대림라온제나 4층 401호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2217757);" style="cursor:pointer;">서울특별시 관악구 신림동 685-71 외1필지, 서래하우스 5층 501호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2227898);" style="cursor:pointer;">서울특별시 구로구 오류동 18-13 외2필지, 힐하우스 2층 202호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2233004);" style="cursor:pointer;">서울특별시 강서구 등촌동 365-59, 세명클래스 6층 602호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2240550);" style="cursor:pointer;">서울특별시 금천구 시흥동 837-14, 드웰하우스 2층 204호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2245814);" style="cursor:pointer;">서울특별시 구로구 개봉동 337-25, 마이빌5차 5층 501호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2250571);" style="cursor:pointer;">서울특별시 금천구 시흥동 830-11 외1필지, 에이엔캐슬 2층 201호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2259050);" style="cursor:pointer;">서울특별시 강서구 화곡동 343-49 외1필지, 혜성오피아파트 9층 904호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2299747);" style="cursor:pointer;">서울특별시 구로구 고척동 171-7 외4필지, 소담밸리 7층 701호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2299748);" style="cursor:pointer;">서울특별시 강서구 등촌동 574-3, 평화아트빌 비동 3층 303호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2299749);" style="cursor:pointer;">서울특별시 강서구 등촌동 574-3, 평화아트빌 비동 2층 203호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2264887);" style="cursor:pointer;">서울특별시 양천구 신월동 87-7 외1필지, 에스케이바움빌 4층 402호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2307404);" style="cursor:pointer;">서울특별시 양천구 신월동 75-1 외1필지, 에스케이바움하임빌 2층 204호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2307405);" style="cursor:pointer;">서울특별시 양천구 신월동 86-4 외1필지, 에스케이이팰리스 8층 801호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2307406);" style="cursor:pointer;">서울특별시 양천구 신월동 75-1 외1필지, 에스케이바움하임빌 2층 201호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2307407);" style="cursor:pointer;">서울특별시 양천구 신월동 88-25 외2필지, 에스케이이빌리지 5층 504호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2307409);" style="cursor:pointer;">서울특별시 양천구 신월동 148-14 외1필지, 신월리버스타운 103동 2층 201호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2307411);" style="cursor:pointer;">서울특별시 양천구 신월동 122-7, 제이와이팰리스 6층 602호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2267232);" style="cursor:pointer;">서울특별시 강서구 등촌동 574-3, 평화아트빌 에이동 4층 401호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2266526);" style="cursor:pointer;">서울특별시 금천구 독산동 1009-75, 에이엔캐슬 에이동 2층 204호</a>,
 <a name="name_addr" onclick="checkView_params(document.fmPdList,2267233);" style="cursor:pointer;">서울특별시 강서구 화곡동 869-7, 도티하우스 5층 502호</a>]

In [21]:
# 감정가

price_1 = soup.select('p.num_type1')
price1_list=[]

for i in range(len(price_1)):
    price1_list.append(price_1[i].text)
    
print(price1_list)

['175,000,000', '239,000,000', '237,000,000', '254,000,000', '187,000,000', '214,000,000', '172,000,000', '191,000,000', '167,000,000', '178,000,000', '239,000,000', '271,000,000', '214,000,000', '150,000,000', '292,000,000', '163,000,000', '203,000,000', '170,000,000', '233,000,000', '226,000,000', '206,000,000', '205,000,000', '280,000,000', '226,000,000', '270,000,000', '302,000,000', '333,000,000', '187,000,000', '316,000,000', '222,700,000']

In [91]:
#최저 입찰가

price_2 = soup.select('p.num_type2')
price2_list=[]

for i in range(30):
    price2_list.append(price_2[i].text)
    
print(price2_list)

['3,153,000', '2%', '40,098,000', '17%', '39,762,000', '17%', '34,091,000', '13%', '49,021,000', '26%', '9,412,000', '4%', '7,565,000', '4%', '8,401,000', '4%', '7,345,000', '4%', '7,829,000', '4%', '8,409,000', '4%', '14,898,000', '5%', '7,530,000', '4%', '12,885,000', '9%', '20,066,000', '7%']

In [69]:
# 물건상태

# status_list=[]

# for i in range(30):
#     status = soup.select('tbody#tb>tr')[i]
#     status = soup.select('td')[5]
    
#     status_list.append(status.text)

# print(type_list)

['다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '근린상가', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '근린상가', '다세대(빌라)', '다세대(빌라)', '아파트', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '오피스텔', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '다세대(빌라)', '오피스텔', '다세대(빌라)']

In [25]:
# 매각기일

dates = soup.select('td.date')
date_list=[]

for i in range(len(dates)):
    date_list.append(dates[i].text)
    
print(date_list)

['2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00', '2023.07.1210:00']

In [95]:
len(num_list)

30

In [97]:
dic = {'num':num_list, 'types':type_list, 'price_1(감정가)':price1_list, 'price_2(최저입찰가)':price2_list, 'dates':date_list}
dic

{'num': ['20-108919',
  '20-111953(1)',
  '20-111953(2)',
  '21-1705',
  '21-2999',
  '21-100851(3)',
  '21-100851(4)',
  '21-100851(5)',
  '21-100851(9)',
  '21-100851(11)',
  '21-101278',
  '21-103935',
  '21-104853',
  '21-106354(5)',
  '21-107708',
  '21-108473',
  '21-110650(1)',
  '21-110650(2)',
  '21-110650(3)',
  '21-110650(4)',
  '21-111752(1)',
  '21-111752(2)',
  '21-111752(3)',
  '21-111752(4)',
  '21-111752(5)',
  '21-111752(7)',
  '21-111752(9)',
  '21-111943',
  '21-112137',
  '21-112700'],
 'types': ['다세대(빌라)',
  '다세대(빌라)',
  '다세대(빌라)',
  '다세대(빌라)',
  '근린상가',
  '다세대(빌라)',
  '다세대(빌라)',
  '다세대(빌라)',
  '다세대(빌라)',
  '다세대(빌라)',
  '다세대(빌라)',
  '다세대(빌라)',
  '다세대(빌라)',
  '근린상가',
  '다세대(빌라)',
  '다세대(빌라)',
  '아파트',
  '다세대(빌라)',
  '다세대(빌라)',
  '다세대(빌라)',
  '다세대(빌라)',
  '다세대(빌라)',
  '오피스텔',
  '다세대(빌라)',
  '다세대(빌라)',
  '다세대(빌라)',
  '다세대(빌라)',
  '다세대(빌라)',
  '오피스텔',
  '다세대(빌라)'],
 'price_1(감정가)': ['175,000,000',
  '239,000,000',
  '237,000,000',
  '254,000,000',
  '187,000,000',
  '214,000,000',
  '172,000,000',
  '191,000,000',
  '167,000,000',
  '178,000,000',
  '239,000,000',
  '271,000,000',
  '214,000,000',
  '150,000,000',
  '292,000,000',
  '163,000,000',
  '203,000,000',
  '170,000,000',
  '233,000,000',
  '226,000,000',
  '206,000,000',
  '205,000,000',
  '280,000,000',
  '226,000,000',
  '270,000,000',
  '302,000,000',
  '333,000,000',
  '187,000,000',
  '316,000,000',
  '222,700,000'],
 'price_2(최저입찰가)': ['3,153,000',
  '2%',
  '40,098,000',
  '17%',
  '39,762,000',
  '17%',
  '34,091,000',
  '13%',
  '49,021,000',
  '26%',
  '9,412,000',
  '4%',
  '7,565,000',
  '4%',
  '8,401,000',
  '4%',
  '7,345,000',
  '4%',
  '7,829,000',
  '4%',
  '8,409,000',
  '4%',
  '14,898,000',
  '5%',
  '7,530,000',
  '4%',
  '12,885,000',
  '9%',
  '20,066,000',
  '7%'],
 'dates': ['2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00',
  '2023.07.1210:00']}

In [101]:
import pandas as pd

In [102]:


# 데이터프레임 생성
data = pd.DataFrame(dic)

# 데이터프레임 출력
print(data)

              num    types price_1(감정가) price_2(최저입찰가)            dates
0       20-108919  다세대(빌라)  175,000,000      3,153,000  2023.07.1210:00
1    20-111953(1)  다세대(빌라)  239,000,000             2%  2023.07.1210:00
2    20-111953(2)  다세대(빌라)  237,000,000     40,098,000  2023.07.1210:00
3         21-1705  다세대(빌라)  254,000,000            17%  2023.07.1210:00
4         21-2999     근린상가  187,000,000     39,762,000  2023.07.1210:00
5    21-100851(3)  다세대(빌라)  214,000,000            17%  2023.07.1210:00
6    21-100851(4)  다세대(빌라)  172,000,000     34,091,000  2023.07.1210:00
7    21-100851(5)  다세대(빌라)  191,000,000            13%  2023.07.1210:00
8    21-100851(9)  다세대(빌라)  167,000,000     49,021,000  2023.07.1210:00
9   21-100851(11)  다세대(빌라)  178,000,000            26%  2023.07.1210:00
10      21-101278  다세대(빌라)  239,000,000      9,412,000  2023.07.1210:00
11      21-103935  다세대(빌라)  271,000,000             4%  2023.07.1210:00
12      21-104853  다세대(빌라)  214,000,000      7,565,000  2023.07.1210:00
13   21-106354(5)     근린상가  150,000,000             4%  2023.07.1210:00
14      21-107708  다세대(빌라)  292,000,000      8,401,000  2023.07.1210:00
15      21-108473  다세대(빌라)  163,000,000             4%  2023.07.1210:00
16   21-110650(1)      아파트  203,000,000      7,345,000  2023.07.1210:00
17   21-110650(2)  다세대(빌라)  170,000,000             4%  2023.07.1210:00
18   21-110650(3)  다세대(빌라)  233,000,000      7,829,000  2023.07.1210:00
19   21-110650(4)  다세대(빌라)  226,000,000             4%  2023.07.1210:00
20   21-111752(1)  다세대(빌라)  206,000,000      8,409,000  2023.07.1210:00
21   21-111752(2)  다세대(빌라)  205,000,000             4%  2023.07.1210:00
22   21-111752(3)     오피스텔  280,000,000     14,898,000  2023.07.1210:00
23   21-111752(4)  다세대(빌라)  226,000,000             5%  2023.07.1210:00
24   21-111752(5)  다세대(빌라)  270,000,000      7,530,000  2023.07.1210:00
25   21-111752(7)  다세대(빌라)  302,000,000             4%  2023.07.1210:00
26   21-111752(9)  다세대(빌라)  333,000,000     12,885,000  2023.07.1210:00
27      21-111943  다세대(빌라)  187,000,000             9%  2023.07.1210:00
28      21-112137     오피스텔  316,000,000     20,066,000  2023.07.1210:00
29      21-112700  다세대(빌라)  222,700,000             7%  2023.07.1210:00

선생님 풀이

In [110]:
nums=soup.select('td.num')
types=soup.select('tbody#td>tr>td:nth-child(3)')
# td:nth-child 사용!
adds = soup.select('td.area>a')
price1 = soup.select('p.num_type1>strong')
price2 = soup.select('p.num_type2>strong')
# soup.select('tbody#td>tr>td:nth-child(6)')

# 근접후행:td의 클래스 이름이 price인 태그의 아래!
status = soup.select('td.price+td')

In [111]:
num_list=[]
type_list=[]
add_list=[]
price1_list=[]
price2_list=[]
status_list=[]
date_list=[]


for i in range(len(nums)):
    num_list.append(nums[i].text)

In [116]:
#페이지 넘기기
next_page=driver.find_element(By.CSS_SELECTOR, 'div.pagnavi>strong+a')
next_page.click()

# 코드 합치기

In [124]:
driver = wb.Chrome()
driver.get('https://auction1.land.naver.com/auction/ca_list.php')
driver.maximize_window()
time.sleep(1)

num_list=[]
type_list=[]
add_list=[]
price1_list=[]
price2_list=[]
status_list=[]
date_list=[]

while True:
    soup=bs(driver.page_source, 'lxml')
    
    nums=soup.select('td.num')
    types=soup.select('tbody#tb>tr>td:nth-child(3)')
# td:nth-child 사용!
    adds = soup.select('td.area>a')
    price1 = soup.select('p.num_type1>strong')
    price2 = soup.select('p.num_type2>strong')
# soup.select('tbody#td>tr>td:nth-child(6)')

# 근접후행:td의 클래스 이름이 price인 태그의 아래!
    status = soup.select('td.price+td')
    dates = soup.select('td.date')
    
    for i in range(len(nums)):
        num_list.append(nums[i].text)
        type_list.append(types[i].text)
        add_list.append(adds[i].text)
        price1_list.append(price1[i].text)
        price2_list.append(price2[i].text)
        status_list.append(status[i].text)
        date_list.append(dates[i].text)
        
        
    try:
        next_page=driver.find_element(By.CSS_SELECTOR, 'div.pagnavi>strong+a')
        next_page.click()
        time.sleep(1)
        
    except:
        print("마지막 페이지")
        break

driver.close()  

dic = {"사건번호": num_list,
      "물건 종류": type_list,
      "소재지" : add_list,
      "감정가" : price1_list,
      "최저 입찰가": price2_list,
      "물건상태" : status_list,
      "매각 기일": date_list}

df=pd.DataFrame(dic)
df

#인덱스번호 1부터 시작하도록 변경
df.index = df.index+1

마지막 페이지

In [125]:
df=pd.DataFrame(dic)
df

,사건번호,물건 종류,소재지,감정가,최저 입찰가,물건상태,매각 기일
0,20-108919,다세대(빌라),"서울특별시 강서구 화곡동 61-49, 영광빌리지 4층 402호","175,000,000","3,153,000",유찰18회2%,2023.07.1210:00
1,20-111953(1),다세대(빌라),"서울특별시 구로구 구로동 88-17 외2필지, 비체빌 5층 503호","239,000,000","40,098,000",유찰8회17%,2023.07.1210:00
2,20-111953(2),다세대(빌라),"서울특별시 구로구 구로동 88-17 외2필지, 비체빌 5층 504호","237,000,000","39,762,000",유찰8회17%,2023.07.1210:00
3,21-1705,다세대(빌라),"서울특별시 관악구 신림동 646-317 외2필지, 대림아트빌 2층 201호","254,000,000","34,091,000",유찰9회13%,2023.07.1210:00
4,21-2999,근린상가,"서울특별시 중구 을지로6가 21-31 외3필지, 동대문패션티브이 1층 1091호","187,000,000","49,021,000",유찰6회26%,2023.07.1210:00
...,...,...,...,...,...,...,...
1708,23-818(3),승용차,"서울특별시 강서구 방화동 78-5, 금화주차장","14,000,000","11,200,000",유찰1회80%,2023.08.2310:00
1709,21-112151,다세대(빌라),"서울특별시 강서구 등촌동 366-119 외1필지, 서인뷰그라스 3층 302호","561,000,000","117,650,000",유찰7회21%,2023.08.3010:00
1710,22-3339,다세대(빌라),"서울특별시 강서구 화곡동 56-663, 신아빌라 3층 302호","190,000,000","152,000,000",유찰1회80%,2023.08.3010:00
1711,22-104096,다세대(빌라),"서울특별시 강서구 화곡동 1040, 해비치빌 2층 201호","283,000,000","283,000,000",유찰4회100%,2023.08.3010:00
1712,22-106580,아파트,"서울특별시 영등포구 대림동 1124, 신대림신동아파밀리에아파트 102동 6층 602호","463,000,000","296,320,000",유찰2회64%,2023.08.3010:00