### pandas 라이브러리
- series: 1차원 배열 구조 인덱스+값을 1:1로 가진다
- dataframe:2차원배열구조 행과열을 가지는 표와 같은 형태

In [4]:
#pandas 라이브러리 불러오기!
import pandas as pd

In [5]:
#series 생성하기
population = pd.Series([9668465,3391946,2942858,1450062])
population

0    9668465
1    3391946
2    2942858
3    1450062
dtype: int64

In [6]:
# index를 지정하면서 Series 생성해보기
population = pd.Series([9668465,3391946,2942858,1450062],
                      index = ['서울','부산','인천','광주'])
population

서울    9668465
부산    3391946
인천    2942858
광주    1450062
dtype: int64

##### Series 데이터 확인 속성
- value: 데이터의 값 확인
- index: 인덱스 값 확인
- dtype: 데이터 타입 확인

In [7]:
# Series 데이터 값 확인(value)
population.values

array([9668465, 3391946, 2942858, 1450062], dtype=int64)

In [8]:
# Series 데이터 인덱스 확인(index)
population.index

Index(['서울', '부산', '인천', '광주'], dtype='object')

In [9]:
# Series 데이터타입 확인(dtype)
population.dtype
# index값은 고정되어 있기 때문에 dtype을 출력해보면 실제 valuedp 대한 타입을 알려줌

dtype('int64')

### 1.1 Series이름 지정하기(데이터 정보 나타내주기)

In [10]:
population.name = '인구'
#인덱스 이름 지정하기
population.index.name = '도시'
population

도시
서울    9668465
부산    3391946
인천    2942858
광주    1450062
Name: 인구, dtype: int64

#### Series 연산
- Series 데이터 value => 넘파이 배열형태
- 요소별 연산이 가능!

In [11]:
population.values

array([9668465, 3391946, 2942858, 1450062], dtype=int64)

In [12]:
population/ 1000000
#각 요소별로 연산이 진행

도시
서울    9.668465
부산    3.391946
인천    2.942858
광주    1.450062
Name: 인구, dtype: float64

#### 인덱싱 슬라이싱

In [13]:
# population 에서 부산의 인구수만 출력
population[1]

3391946

In [ ]:
#지정한 인덱스 이름으로도 인덱싱 가능
population['부산']

In [35]:
# 광주, 서울, 부산
# 인덱스 할거야 [] -> 리스트야 [] 
population[['광주','서울','서울']]

도시
광주    1450062
서울    9668465
서울    9668465
Name: 인구, dtype: int64

In [36]:
# 불리언 인덱싱(조건이 참인 값들만 출력) #전체데이터[조건]
# 인구가 300만 이상인 도시만 출력

population[population >=3000000]

도시
서울    9668465
부산    3391946
Name: 인구, dtype: int64

In [45]:
# 다중조건
# 인구수가 250만 이상 500만 이하의 도시 찾기! --> 부산, 인천
# 논리연산자(and)
# 라이브러리에서는 논리연산자 예약어 사용xx
# 조건들에 소괄호 필요

population[(5000000 >= population) & (population >= 2500000)]

도시
부산    3391946
인천    2942858
Name: 인구, dtype: int64

In [46]:
# 슬라이싱 :
# 변수명[시작인덱스: 끝인덱스+1]
population["부산":"인천"]
#population2[1:"광주"]
#인덱스번호와 인덱스명 섞어서는 안됨

도시
부산    3391946
인천    2942858
Name: 인구, dtype: int64

## dictionary 자료 구조를 활용하여 Series 생성하기
    - key => index
    - value => value 형태로 생성됨

In [47]:
#포켓몬 이름 : 능력치의 딕셔너리 생성
dic1 = {'피카츄':9500, '치코리타':3000, '마자용':1500, '리자몽':15000}
pokemon = pd.Series(dic1)
pokemon.name = "폿켓몬"

In [48]:
#레벨업한 포켓몬의 능력치를 작성
dic2={'치코리타':6000, '리자몽':18000, '피카츄':11500, '잉어킹':1000, '뮤':2500}
pokemonup = pd.Series(dic2)
pokemonup.name = "렙업 후 능력치"

In [59]:
#레벨업 후 올라간 능력치 차이
up_stat = pokemonup - pokemon
# 인덱스 번호가 아닌 인덱스 이름이 동일한 데이터끼리 연산됨
# 둘중에 하나만 있는 데이터의 경우 NaN(Not a Number) 출력됨(결측치)
print(up_stat[up_stat.isnull()])
print(up_stat[up_stat.notnull()])
print(up_stat[~up_stat.isnull()])

리자몽     3000.0
치코리타    3000.0
피카츄     2000.0
dtype: float64

In [54]:
#레벨업해서 올라간 공격력의 증가율(%)
#(레벨업한 데이터 - 원래데이터) / 원래데이터 *100
ch = up_stat/pokemon *100
ch

리자몽      20.000000
마자용            NaN
뮤              NaN
잉어킹            NaN
치코리타    100.000000
피카츄      21.052632
dtype: float64

In [55]:
# 비어있지 않은 값들만 출력
ch[ch.notnull()]

리자몽      20.000000
치코리타    100.000000
피카츄      21.052632
dtype: float64